body {
    text-align: center;
    background-image: url(../img/demining_uae.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.emoji {
    position: absolute;
    top: 200px;
    left: 200px;

    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 125px;

    background-color: #6D8B74;
    border-radius: 8px;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(32, 39, 56);
}

.covered {
    background-color: rgb(5, 5, 5);

}

table {
    table-layout: fixed;
    height: 750px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition: 2s;
}

table td {
    background-color: #CDC2AE;
    width: 45px;
    height: 45px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: 2em;
    color: whitesmoke;
}

.revealed {
    background-color: #645957;

}

.exploded {

    background-color: #943727;

}

.buttons button {
    cursor: pointer;
    width: 233px;
    background-color: #5F7161;
    color: wheat;

}

.buttons button:hover {
    cursor: pointer;
    background-color: #3f3f3f;
}


.hint {
    background-color: #D5D8B5;

}



.counter {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;

    background-color: #6D8B74;
    border-radius: 8px;
    color: wheat;
    font-size: 2em;
    width: 230px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}

.selected {
    background-color: #1f1f1f;
}